
@{
    Layout = null;
}


<!DOCTYPE html>

@Model
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resource Manager</title>
    <link rel="stylesheet" href="~/Views/styles.css" type="text/css" />

    <script type="text/javascript" src="~/Views/Manage/canvas.js"></script>

</head>
<body>
    <header>
        <div class="head">
            <h1>Resource Manager</h1>
        </div>
    </header>
    <div>
        <canvas id="canvas" width="1000" height="500" contenteditable="true" />
    </div>

    <div>
        <p>Number of processes: @ViewBag.ProcessNumber</p>
        <p>Available resources: @ViewBag.ResourceNumber</p>
    </div>

</body>
</html>
